@import '../abstracts/colors';

.MainPage {
  background-color: $primary-plus-1;
  padding: 80px 0 100px 0;

  section.MainPage-categories {
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 20px;

    .CategoryButton:not(:last-child) {
      margin-right: 10px;
    }
  }

  main {
    align-items: center;
    display: grid;
    grid-template-columns: 165px 165px;
    gap: 20px;
    justify-content: center;
    margin: 0 20px;
  }
}
