@import "../abstracts/colors";
@import "../abstracts/typography";

.RecipePage {
  img {
    width: 100%;
  }

  .RecipePage-info {
    background-color: $primary-plus-1;
    border-radius: 20px;
    margin-top: -20px;
    padding: 30px 30px 100px;
    position: absolute;
    width: 100%;


    h1 {
      @include h1-bold;
      color: $text-icon-minus-1;
    }

    .RecipePage-category {
      @include h2-italic;
      color: $text-icon-normal;
    }

    .LikeOrShare {
      float: right;
    }

    p {
      @include p-regular;
    }
  }
}
