@import "../abstracts/colors";
@import "../abstracts/typography";

.RecipePage {
  height: fit-content;

  .Header-container {
    background-color: transparent;
    border: 0;
    z-index: 20;

    .GoBackButton {
      background-color: $accent-normal;
      box-shadow: 0px 4px 15px rgba(63, 63, 63, 0.303);

      svg {
        fill: $primary-plus-1;
      }
    }
  }

  img {
    width: 100%;
  }

  .RecipePage-info {
    background-color: $primary-plus-1;
    border-radius: 20px;
    margin-top: -20px;
    padding: 37px 20px 100px;
    position: absolute;
    width: 100%;

    h1 {
      @include h1-bold;
      color: $text-icon-minus-1;
      margin-bottom: 10px;
    }

    .RecipePage-category {
      @include h2-italic;
      color: $text-icon-normal;
      margin-bottom: 30px;
    }

    .LikeOrShare {
      float: right;
    }

    p {
      @include p-regular;
    }
  }

  .RecipePageButton-container {
    align-items: flex-end;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 249, 0) 0%,
      $primary-plus-1 100%
    );
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 50%;
    padding: 20px 0;
    position: fixed;
    transform: translateX(-50%);
    width: 100vw;
  }
}
