@import "../abstracts/colors";
@import "../abstracts/typography";

.SplashScreen {
  align-items: center;
  background: $gradient-one;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;

  svg {
    height: 288px;
    left: calc(50% - 287px / 2 - 0.5px);
    position: absolute;
    top: calc(50% - 288px / 2 - 238px);
    width: 287px;
  }

  img {
    bottom: -178px;
    filter: drop-shadow(0px -10px 25px rgba(69, 28, 41, 0.25));
    left: calc(50% - 469px / 2 - 0.5px);
    height: 461px;
    position: absolute;
    width: 469px;
  }

  p {
    @include h2-regular;
    color: $primary-plus-1;
    text-align: center;

    strong {
      @include h1-bold;
    }
  }
}
