@import "../abstracts/colors";
@import "../abstracts/typography";

.Ingredients {
  margin-bottom: 30px;

  h2 {
    @include h2-bold;
    color: $text-icon-minus-1;
    margin-bottom: 20px;
  }
  
  li {
    @include p-regular;
    color: $text-icon-minus-1;
  }
}
