@import "../abstracts/colors";
@import "../abstracts/mixins";

.LikeOrShare {
  display: flex;

  button {
    background-color: $secondary-plus-1;
    border-radius: 14px;
    color: $primary-normal;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background-color: $secondary-normal;
    }

    svg {
      fill: $primary-normal;
    }
  }

  span {
    position: absolute;
    margin-top: 40px;
    right: 0;
    width: 150px;
  }
}
