@import "../abstracts/colors";
@import "../abstracts/mixins";
@import "../abstracts/typography";

.RecipeDoneCard {
  display: flex;
  margin-bottom: 20px;

  input {
    border-radius: 10px;
    height: 165px;
    margin-right: 20px;
    width: 165px;
  }

  .RecipeDoneCard-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;

    p:not(.done-date) {
      color: $text-icon-plus-1;
      font-size: 16px;
      font-style: italic;
      margin-bottom: 0;
    }

    p.done-date {
      color: $text-icon-plus-1;
      font-size: 14px;
      margin-bottom: 5px;
    }
  
    a {
      @include h3-bold;
      color: $text-icon-normal;
      display: -webkit-box;
      overflow: hidden;
      max-height: 70px;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: nowrap;
      width: 100%;
    }
  
    .RecipeDoneCard-LikeOrShare {
      align-items: flex-end;
      display: flex;
      height: 36px;
      position: relative;
    
      button {
        background-color: $secondary-plus-1;
        border-radius: 14px;
        color: $primary-normal;
        flex: none;
    
        &:not(:last-child) {
          margin-right: 10px;
        }
    
        &:hover {
          background-color: $secondary-normal;
        }
    
        svg {
          fill: $primary-normal;
        }
      }

      span {
        position: absolute;
        right: 0;
        width: 150px;
      }
    }

    .tags {
      display: flex;
      flex-flow: row wrap;

      span {
        border: 1px solid $accent-minus-1;
        border-radius: 5px;
        color: $accent-minus-1;
        font-size: 14px;
        padding: 0 5px;

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}
