@import "../abstracts/colors";
@import "../abstracts/typography";

.RecipeCard {
  display: flex;
  flex-flow: column nowrap;
  background: transparent;
  width: 165px;

  img {
    border-radius: 10px;
    height: 165px;
    width: 100%;
  }

  h3 {
    @include p-regular;
    color: $text-icon-normal;
    display: -webkit-box;
    max-height: 70px;
    overflow: hidden;
    padding: 10px;
    text-align: left;

    /* Luá nos ajudou com essas propriedades para cortar os títulos grandes */
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
  }
}
