@import '../abstracts/colors';
@import '../abstracts/typography';

.RecipeCard {
  background: $secondary-minus-1;
  border: 1px solid $primary-normal;
  border-radius: 10px;
  height: 165px;
  width: 165px;

  img {
    border-radius: 10px 10px 0px 0px;
    height: 120px;
    width: 100%;
  }

  h3 {
    @include p-regular;
    color: $primary-plus-1;
    padding: 10px;
    text-align: left;
    width: 100%;
  }
}
